<footer class="blog__footer">
	<div class="container">
				<div class="who-am-i panel">
					<h2>Hello!</h2>
					<p>My name is Adi. I'm working at SAP on the Hana Rules Framework. I'm passionate about technology and innovation.</p>
				</div>
				<div class="find-me panel">
					<h2>You can find me at...</h2>				
					<ul class="social-icons">
						<li><a href="https://twitter.com/Adibiton">Twitter</a></li>
						<li><a href="https://il.linkedin.com/pub/adi-biton/4/1a7/184">LinkedIn</a></li>
						<li><a href="https://github.com/adibiton">Github</a></li>						
					</ul>
				</div>
				<div class="projects panel">
					<h2>Projects</h2>
					<p>different projects i worked at</p>
				</div>
<!-- <a href="https://github.com/adibiton" class="button"><small>Follow me on</small> GitHub</a> -->
			</div>
</footer>