.post__header{
	background: none;
	font-family: 'Aileron';
	font-weight: normal;
}

.post__title{
	font-family: 'Open Sans', 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
	margin-top: 0;
  	margin-bottom: 0;
  	font-size: 2.0em;
  	font-weight: bold;
  	color: #474747;
  	text-indent: 6px;
  	letter-spacing: -1px; 	
}

.post__title:before {
  padding-right: 0.3em;
  margin-left: -0.9em;
  color: #9ddcff;
  content: "///";
}
.post__date {
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, serif;
}
.post__excerpt {
	font-size: 1.2em;
	font-weight: lighter;
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, serif;
}


