.post__header{
	background: none;
	font-family: 'Open Sans';
	font-weight: normal;
}

.post__title{
	font-family: 'Open Sans', 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
	margin-top: 0;
  	margin-bottom: 0;
  	font-size: 2.0em;
  	font-weight: 400;
  	color: #474747;
  	text-indent: 6px;
  	letter-spacing: -1px; 	
}

.post__title:before {
  padding-right: 0.3em;
  margin-left: -0.9em;
  color: #9ddcff;
  content: "///";
}
.post__date {
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, serif;
	font-weight: 400;
}
.post__excerpt {
	font-size: 1.2em;
	font-weight: lighter;
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, serif;
	font-weight: 400;
}


.blog__footer .who-am-i {
  width: 25%;
  margin-right: 45px;
  float: left;
}
.blog__footer .find-me {
  width: 25%;
  margin-right: 45px;
  float: left;
  padding-left: 40px;
  border-left: 1px solid #FFF
}
.blog__footer .projects {
  width: 25%;
  margin-right: 45px;
  float: left;
  border-left: 1px solid #FFF;
  padding-left: 40px;
  margin-left: 40px;
}

footer .find-me .social-icons {
	list-style-type: none;
}
